<%- include("./fragments/header"); %>
  <table class="bulma-table bulma-is-hoverable bulma-is-fullwidth">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Point ID</th>
        <th>Points Modified</th>
        <th>Action</th>
        <th>Reason</th>
        <th>Created</th>
        <th>Points Before</th>
        <th>Points After</th>
      </tr>
    </thead>
    <tbody>
      <% for (const point of content.points) { %>
        <tr>
          <td><%= point.student %></td>
          <td><%= point.point_id %></td>
          <td><%= point.points_modified %></td>
          <td><%= point.points_action %></td>
          <td><%= point.reason %></td>
          <td>
            <% const date = new Date(point.created); %>
            <time datetime="<%= date.toISOString() %>">
              <%= date.toLocaleString() %>
            </time>
          </td>
          <td><%= point.total_points_before %></td>
          <td><%= point.total_points_after %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<%- include("./fragments/footer"); %>
